.wrapper__main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15% auto 0;
}

.wrapper__form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    width: 400px;
    background-color: #fff4c4;
    text-align: center;
    padding: 0 10px 15px;
    border-radius: 15px;
    border: 2px solid #a10808;
    box-shadow: 3px -3px 5px #f4c450;
}

.wrapper__form > h3 {
    padding: 10px 0;
}

.wrapper__form > p {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.mainForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.mainForm__input {
    padding: 5px 7px;
    font-size: 1rem;
    color: #370702;
    margin-bottom: 10px;
    border-radius: 7px;
}

.mainForm__input::-webkit-input-placeholder {
    color: #b1a2a1;
    font-size: 0.7rem;
}

.mainForm__input:focus {
    border: 2px solid orange;
    box-shadow: 0 0 0 1px orange;
}

.mainForm__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
    margin-top: 5px;
}
